.form-login{
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: 28%;
  top: 25%;
  width: 74%;
  animation-name: loginShow;
  animation-duration: 1.3s;
  animation-delay: 0s;
  .col-lg-7{
    left: 2%;
    background: #ffa233;
  }
  .card{
    background: #ffa233;
    border: none;
  }
  .card-body{
    h1{
      text-align: center;
      font-family: Florence, cursive;
    }

    .card-body{
      a{
        margin-left: 15px;
      }
      .btn{
        margin-left: 30%;
      }

    }
  }
}
@keyframes loginShow{
  from{ top: -5%;}
  to{ top: 25% ;}
}